.about-page {
    padding-bottom: 80px;
    padding-top: 77px;
    @include lg {
        padding: 60px 0;
    }
    @include mmd {
        padding: 40px 0;
    }
    & .common-title {
        margin-bottom: 42px;
        @include md {
            margin-bottom: 24px;
        }
        @include sm {
            margin-bottom: 24px;
        }
        & h2 {
            margin-bottom: 0 !important;
        }
    }
    & .fp {
        margin-bottom: 32px;
        @include lg {
            margin-bottom: 24px;
        }
        @include mmd {
            margin-bottom: 20px;
        }
        @include sm {
            margin-bottom: 14px;
        }
    }
}