@font-face {
    font-family: 'Neue Montreal';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/NeueMontreal/NeueMontreal-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/NeueMontreal/NeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/NeueMontreal/NeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/NeueMontreal/NeueMontreal-Bold.woff2') format('woff2');
}