.breadcrump {
    display: flex;
    padding-bottom: 32px;
    @include md {
        padding-bottom: 16px;
    }
    @include sm {
        padding-bottom: 20px;
    }
    & li {
        font-family: $font-2;
        font-size: 14px;
        line-height: 133.286%;
        color: $heading;
        & a {
            color: $text-2;
            padding-right: 4px;
            &:hover {
                color: $primary;
            }
        }
    }
}