@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './font';
$font-1:"Roboto",
sans-serif;
$font-2:'Neue Montreal',
sans-serif;
$white:#fff;
$black:#000;
$primary: #FF6633;
$secondary: #161616;
$text:$secondary;
$text-2:#909294;
$heading: $secondary;
$border:#4B4B4B;
$bg:#F6F6F6;
:root {
    scroll-behavior: auto !important;
}