.cta {
    background: $white;
    font-family: $font-2;
    @include common-padding;
    padding-top: 0 !important;
    &-wrap {
        border-radius: 16px;
        background: #F63;
        padding: 97px 0;
        @include md {
            padding: 50px 0;
        }
        @include sm {
            padding: 40px 20px
        }
        & h2 {
            @include font-48;
            margin-bottom: 16px;
            font-weight: 700;
        }
        & p {
            color: $heading;
            @include font-22;
            line-height: 127.273%;
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 20px;
            }
        }
        & .btn {
            background: $black;
            border-radius: 8px !important;
            font-weight: 700;
            --bs-btn-padding-x: 15px;
            @include transition;
            &:hover {
                background: $white !important;
                color: $black !important;
            }
        }
    }
}